* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', 'Oxygen', 'Inter', sans-serif;
  background-color: beige;
  color: sienna;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}
.container h3 {
  margin: 1rem 0;
}

.divider {
  margin: 1.5rem 0;
  border-bottom: 1px solid sienna;
}

.form-create-note,
.search-input-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  gap: 1.5rem;
}
.form-create-note form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5rem;
  border: 1px solid sienna;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.form-create-note button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: 'Comfortaa', 'Oxygen', 'Inter', sans-serif;
  color: sienna;
  border: 1px solid sienna;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.form-create-note button:hover,
.form-create-note button:focus {
  background-color: sienna;
  color: white;
  border-color: sienna;
}

.search-input {
  background-color: rgba(255, 255, 255, 0.5);
}

input, textarea {
  width: 100%;
  padding: 0.625rem;
  margin: 0.75rem 0;
  font-family: 'Comfortaa', 'Oxygen', 'Inter', 'sans-serif';
  font-size: 1.125rem;
  background-color: transparent;
  color: sienna;
  border: 1px solid sienna;
  border-radius: 0.5rem;
  display: block;
}
input:focus, textarea:focus {
  outline: none;
  border: 1px solid darkorange;
}
input::placeholder, textarea::placeholder {
  color: #aaa;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Comfortaa', 'Oxygen', 'Inter', 'sans-serif';
}

/* .note-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid #aaa;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: white;
}


.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.note-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.note-input input, .note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
} */

.notes-container,
.archived-notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.note-item {
  border: 1px solid sienna;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0.625rem;
  font-weight: 600;
}

.note-item__date {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  color: darkorange;
}

.note-item__body {
  font-size: 0.875rem;
}

.note-item__action {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.note-item__button {
  transition: all 0.3s ease-in-out;
  border: 1px solid sienna;
  color: sienna;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: wheat;
}
.note-item__button:hover,
.note-item__button:focus {
  background-color: sienna;
  color: white;
  border-color: sienna;
}

/* @media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
} */
