:root {
  --font-color: sienna;
  --background-color: beige;
  --border-color: sienna;
  --form-background-color: rgba(255, 255, 255, 0.5);
  --button-background-color: moccasin;
  --button-background-hover-color: sienna;
  --button-color: sienna;
  --button-hover-color: white;
  --placeholder-color: #aaa;
}
 
[data-theme='dark'] {
  --font-color: beige;
  --background-color: dimgrey;
  --border-color: beige;
  --form-background-color: rgba(255, 255, 255, 0.2);
  --button-background-color: sienna;
  --button-background-hover-color: saddlebrown;
  --button-color: moccasin;
  --button-hover-color: white;
  --placeholder-color: #ddd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', 'Oxygen', 'Inter', sans-serif;
  /* color: sienna; */
  color: var(--font-color);
  /* background-color: beige; */
  background-color: var(--background-color);
  transition: all 0.2s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6.5rem 1.5rem 1.5rem;
}
.container h3 {
  margin: 1rem 0;
}
.flexing {
  display: flex;
  gap: 0.5rem;
}
.divider {
  margin: 1.5rem 0;
  border-bottom: 1px solid var(--border-color);
}

.form-create-note,
.search-input-container,
.auth-form-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  gap: 1.5rem;
}
.auth-form-container form,
.form-create-note form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  background-color: var(--form-background-color);
}
.auth-form-container button,
.form-create-note button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: var(--button-background-color);
  font-family: 'Comfortaa', 'Oxygen', 'Inter', sans-serif;
  color: var(--button-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.auth-form-container button:hover,
.auth-form-container button:focus,
.form-create-note button:hover,
.form-create-note button:focus {
  background-color: var(--button-background-hover-color);
  color: var(--button-hover-color);
  border-color: var(--border-color);
}

.search-input {
  background-color: rgba(255, 255, 255, 0.5);
}

input, textarea {
  width: 100%;
  padding: 0.625rem;
  margin: 0.75rem 0;
  font-family: 'Comfortaa', 'Oxygen', 'Inter', 'sans-serif';
  font-size: 1.125rem;
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  display: block;
}
input:focus, textarea:focus {
  outline: none;
  border: 1px solid darkorange;
}
input::placeholder, textarea::placeholder {
  color: var(--placeholder-color);
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Comfortaa', 'Oxygen', 'Inter', 'sans-serif';
}

.notes-container,
.archived-notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.note-item {
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--form-background-color);
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0.625rem;
  font-weight: 600;
}
a, a:visited,
.note-item__title a,
.note-item__title a:visited {
  color: var(--font-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover, a:focus,
.note-item__title a:hover,
.note-item__title a:focus {
  color: darkorange;
}


.note-item__date {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  color: darkorange;
}

.note-item__body {
  font-size: 0.875rem;
}

.note-item__action {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.note-item__button {
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--border-color);
  color: var(--button-color);
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: var(--button-background-color);
}
.note-item__button:hover,
.note-item__button:focus {
  background-color: var(--button-background-hover-color);
  color: var(--button-hover-color);
  border-color: var(--border-color);
}

header.custom-header {
  position: fixed;
  top: 0;
  max-width: 75rem;
  width: auto;
  background-color: sienna;
  padding: 0.5rem 1.5rem;
  color: aliceblue;
  border-radius: 0 0 1rem 1rem;
  font-family: 'Courier New', Courier, monospace;
}

header.custom-header a,
header.custom-header a:visited {
  color: aliceblue;
  text-decoration: none;
}

.user-badge {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--border-color);
  background-color: var(--button-background-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.user-avatar:hover,
.user-avatar:focus {
  background-color: var(--button-background-hover-color);
  color: var(--button-hover-color);
}
.user-info {
  position: fixed;
  text-align: right;
  top: 4rem;
  right: 1rem;
  width: auto;
  color: var(--font-color);
  background-color: var(--button-background-color);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  padding: 0.5rem;
}
.user-info hr {
  border-width: 1px;
  border-color: var(--border-color);
  margin: 0.5rem 0;
}
button.logout {
  background-color: transparent;
  border: none;
  color: var(--font-color);
  font-size: 1rem;
  cursor: pointer;
}
button.logout:hover {
  text-decoration: underline;
}

h1.not-found {
  text-align: center;
  margin: 0;
  font-size: 8rem;
  font-family: 'Courier New', Courier, monospace;
  color: var(--font-color);
}
h3.not-found {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  color: var(--font-color);
}

.theme-toggler, .locale-toggler {
  border: none;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid beige;
  color: beige;
  background-color: transparent;
}
.theme-toggler {
  line-height: 2rem;
}
.locale-toggler {
  line-height: 1.75rem;
}